
  <% if(success) { %>
    <div class="alert alert-danger" role="alert">
      <p>
        <%= success %>
      </p>
    </div>

  <% } %>
     <% if(error) { %>
       <div class="alert alert-danger" role="alert">
         <p>
           <%= error %>
         </p>
       </div>
    <%  }  %>
